*{
    font-family: "Poppins", sans-serif;
    list-style-type: none;
    text-decoration: none;
    margin: 0;
    padding: 0;
}

body{
    /* background-image: url(https://img.freepik.com/free-photo/close-up-female-s-hand-holding-baby-s-breath-flowers-against-blue-background_23-2148048411.jpg?t=st=1711010144~exp=1711013744~hmac=820daf3393b1a622008a1b44b1dc0558943363533514b2078f19b7a7c866a2f3&w=740); */
    min-height: 100vh;
    display: grid;
    place-content: center;


}
header{
    background-color: #f9f9f9;
    padding: 20px;
    text-align: center;
    border-bottom: 1px solid #eee;
}
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    border-bottom: 1px solid #eee;
}

#searchInput {
    margin-top: 10px;
    padding: 8px;
    width: 60%;
    border: 1px solid #ccc;
}
.navbar-items ul {
    display: flex;
    gap: 20px;
    font-size: 18px;
}
section div h2{
    font-size: medium;
    font-weight: 700;
}
#feedback{
    display: flex;
    flex-direction: row;
    /* align-items: center; */
    justify-content: space-between;
    margin-top: 10px;
}

#feedbackText {
    width: 80%;
    height: 35px;
    margin-bottom: 10px;
}
#submitFeedback {
    padding: 8px 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
    margin-bottom: 30px;
    margin-top: 0;
}
#products h2 {
    font-size: medium;
    font-weight: 700;
}

#product-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    border-bottom: 1px solid #eee;
}

#product-list > div {
    margin-top: 10px;
    width: calc(23.33% - 10px); /* Adjust width as needed */
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    box-shadow: 0px 10px 10px 0px black;
    background-color: #fff;
    font-size: small;
    font-weight: normal;
}

#product-list > div img {
    max-width: 100%;
    height: auto;
}
.add-to-cart{
    background-color: #91f5f5;
}
footer {
    height: 50px;
    background-color: #acc4c4;
    color: #fff;
    text-align: center;
    margin-top: 10px;
    bottom: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}


